<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pro1121.foodorder">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--  HEAD  -->
        <activity android:name=".activity.UserCase.UserCaseActivity">


<!--        <activity android:name=".huyTest.ClickKindFood">  -->
<!--  ed079f76c4964467b66f8e26706177674d8bcd2e -->


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SignInOut.SignInActivity"/>
        <activity android:name=".activity.SignInOut.SignUpActivity"/>
        <activity android:name=".activity.SignInOut.ChangePassWord"/>
        <activity android:name=".activity.SignInOut.ForgotPassword"/>
        <activity android:name=".activity.SignInOut.IsYourAccount"/>
        <activity android:name=".activity.AdminCase.AdminCaseActivity"/>

    </application>

</manifest>