<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pro1121.foodorder">

    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".service.UserNotifyService"
            android:enabled="true"
            android:exported="true"/>

        <receiver
            android:name=".RestartServiceReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".service.AdminNotifyService"
            android:enabled="true"
            android:exported="true" />

<!--        data provider for take a photo-->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <activity android:name=".activity.SignInOut.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- HEAD -->
        <activity android:name=".TestActivity"/>
<!--        <activity android:name=".huyTest.ClickKindFood"/>-->

            <!-- <activity android:name=".huyTest.ClickKindFood"> -->
            <!-- ed079f76c4964467b66f8e26706177674d8bcd2e -->

         <activity android:name=".activity.SignInOut.SignInActivity"></activity>
        <activity android:name=".activity.SignInOut.SignUpActivity" />
        <activity android:name=".activity.SignInOut.ChangePassWord" />
        <activity android:name=".activity.SignInOut.ForgotPassword" />
        <activity android:name=".activity.SignInOut.IsYourAccount" />
        <activity android:name=".activity.UserCase.UserCaseActivity"/>
        <activity android:name=".activity.AdminCase.AdminCaseActivity"></activity>

    </application>

</manifest>